In [ ]:
import pandas as pd

In [24]:
visitor_data = pd.read_excel("company data.xlsx", sheet_name=None)
visitor_data

{'Products':    Product id   Product
 0           1   Pintury
 1           2      Pixo
 2           3    Floati
 3           4   Artista
 4           5  SprayPix
 5          -1      NONE,
 'Cities':    City id              City
 0        1  Ho Chi Minh City
 1        2             Hanoi
 2        3           Da Nang
 3        4               Huế
 4        5           Đông Hà
 5        6            Đà Lạt
 6        7            Hội An
 7        8     Buôn Ma Thuột
 8        9          Haiphong
 9       10         Nha Trang,
 'Traffic channels':    Channel id     Channel
 0           1  Google SEO
 1           2  Google Ads
 2           3        Bing
 3           4    Facebook
 4           5   Instagram
 5           6     Twitter,
 'Pricing plans':    Pricing plan id Pricing plan
 0                1        Light
 1                2     Advanced
 2                3      Premium
 3               -1         NONE,
 'Prices':   Unnamed: 0  Pintury   Pixo  Floati  Artista  SprayPix  NONE
 0      Light    199.0  144.0   395.0    599.0     297.0     0
 1   Advanced      NaN    NaN     NaN      NaN       NaN     0
 2    Premium      NaN    NaN     NaN      NaN       NaN     0
 3       NONE      0.0    0.0     0.0      0.0       0.0     0,
 'Visitors data':       Visitor id  Channel id     Channel Device type  Bought  Order id  \
 0              1           4    Facebook     Desktop       1         1
 1              2           2  Google Ads     Desktop       1         2
 2              3           5   Instagram      Mobile       1         3
 3              4           2  Google Ads      Mobile       1         4
 4              5           1  Google SEO      Mobile       1         5
 ...          ...         ...         ...         ...     ...       ...
 1495        1496           1  Google SEO     Desktop       0        -1
 1496        1497           3        Bing      Mobile       0        -1
 1497        1498           5   Instagram     Desktop       0        -1
 1498        1499           1  Google SEO     Desktop       0        -1
 1499        1500           1  Google SEO      Mobile       0        -1

       Product id  Products  Pricing plan id Pricing plan  City id  \
 0              5  SprayPix                2     Advanced        6
 1              2      Pixo                1        Light        8
 2              4   Artista                1        Light        1
 3              5  SprayPix                2     Advanced        1
 4              4   Artista                2     Advanced        3
 ...          ...       ...              ...          ...      ...
 1495          -1       NaN               -1          NaN        5
 1496          -1       NaN               -1          NaN        5
 1497          -1       NaN               -1          NaN        6
 1498          -1       NaN               -1          NaN        5
 1499          -1       NaN               -1          NaN       10

                   City  Day of week (num) Day of week
 0               Đà Lạt                  3         Wed
 1        Buôn Ma Thuột                  2         Tue
 2     Ho Chi Minh City                  5         Fri
 3     Ho Chi Minh City                  1         Mon
 4              Da Nang                  1         Mon
 ...                ...                ...         ...
 1495           Đông Hà                  1         Mon
 1496           Đông Hà                  5         Fri
 1497            Đà Lạt                  3         Wed
 1498           Đông Hà                  5         Fri
 1499         Nha Trang                  5         Fri

 [1500 rows x 14 columns]}

# **Đọc dữ liệu**

In [42]:
visitor_df = visitor_data["Visitors data"]
visitor_df

,Visitor id,Channel id,Channel,Device type,Bought,Order id,Product id,Products,Pricing plan id,Pricing plan,City id,City,Day of week (num),Day of week
0,1,4,Facebook,Desktop,1,1,5,SprayPix,2,Advanced,6,Đà Lạt,3,Wed
1,2,2,Google Ads,Desktop,1,2,2,Pixo,1,Light,8,Buôn Ma Thuột,2,Tue
2,3,5,Instagram,Mobile,1,3,4,Artista,1,Light,1,Ho Chi Minh City,5,Fri
3,4,2,Google Ads,Mobile,1,4,5,SprayPix,2,Advanced,1,Ho Chi Minh City,1,Mon
4,5,1,Google SEO,Mobile,1,5,4,Artista,2,Advanced,3,Da Nang,1,Mon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,1,Google SEO,Desktop,0,-1,-1,NONE,-1,NONE,5,Đông Hà,1,Mon
1496,1497,3,Bing,Mobile,0,-1,-1,NONE,-1,NONE,5,Đông Hà,5,Fri
1497,1498,5,Instagram,Desktop,0,-1,-1,NONE,-1,NONE,6,Đà Lạt,3,Wed
1498,1499,1,Google SEO,Desktop,0,-1,-1,NONE,-1,NONE,5,Đông Hà,5,Fri
1499,1500,1,Google SEO,Mobile,0,-1,-1,NONE,-1,NONE,10,Nha Trang,5,Fri

In [26]:
products_df = visitor_data["Products"]
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product id  6 non-null      int64
 1   Product     6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [27]:
city_df = visitor_data["Cities"]
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City id  10 non-null     int64
 1   City     10 non-null     object
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

In [28]:
channel_df = visitor_data["Traffic channels"]
channel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Channel id  6 non-null      int64
 1   Channel     6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [29]:
princing_plan_df = visitor_data["Pricing plans"]
princing_plan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pricing plan id  4 non-null      int64
 1   Pricing plan     4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [30]:
prices_df = visitor_data["Prices"]
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   Pintury     2 non-null      float64
 2   Pixo        2 non-null      float64
 3   Floati      2 non-null      float64
 4   Artista     2 non-null      float64
 5   SprayPix    2 non-null      float64
 6   NONE        4 non-null      int64
dtypes: float64(5), int64(1), object(1)
memory usage: 356.0+ bytes

# **Set index**

In [31]:
products_df = products_df.set_index("Product id")
city_df = city_df.set_index("City id")
channel_df = channel_df.set_index("Channel id")

In [32]:
princing_plan_df = princing_plan_df.set_index("Pricing plan id")
prices_df = prices_df.set_index(prices_df.columns[0])

In [33]:
products_df
city_df
channel_df
princing_plan_df
prices_df

            Pintury   Pixo  Floati  Artista  SprayPix  NONE
Unnamed: 0
Light         199.0  144.0   395.0    599.0     297.0     0
Advanced        NaN    NaN     NaN      NaN       NaN     0
Premium         NaN    NaN     NaN      NaN       NaN     0
NONE            0.0    0.0     0.0      0.0       0.0     0

## **Map data**

In [43]:
visitor_df["Products"] = visitor_df["Product id"].map(products_df["Product"])
visitor_df["Channel"] = visitor_df["Channel id"].map(channel_df["Channel"])
visitor_df["City"] = visitor_df["City id"].map(city_df["City"])
visitor_df["Pricing plan"] = visitor_df["Pricing plan id"].map(princing_plan_df["Pricing plan"])

In [45]:
products_id = visitor_df.loc[0, "Product id"]
products_id

np.int64(5)

In [47]:
products_name = products_df.loc[products_id]["Product"]
products_name

'SprayPix'

In [55]:
def Tinhtoan(row):
    product_id = row["Product id"]
    pricing_plan_id = row["Pricing plan id"]
    if product_id == -1 and pricing_plan_id == -1:
        return 0
    product_name = products_df.loc[product_id]["Product"]
    pricing_plan = princing_plan_df.loc[pricing_plan_id]["Pricing plan"]
    return prices_df.loc[pricing_plan, product_name]

In [51]:
visitor_df["Channel"] = visitor_df["Channel"].fillna(visitor_df["Channel"].mode()[0])

In [56]:
visitor_df["Income"] = visitor_df.apply(Tinhtoan, axis=1)

In [57]:
visitor_df.to_excel("Company confix data.xlsx", index= False)